# global options
{
	admin off
	persist_config off
	auto_https off
	log {
		format json
	}
	servers {
		trusted_proxies static private_ranges
	}
}

(lb_settings) {
	lb_policy round_robin
	lb_retries 100
	lb_try_duration 10s
	lb_try_interval 250ms
}

(passive_health_checks) {
	fail_duration 60s
	max_fails 300
	unhealthy_latency 5s
	unhealthy_request_count 200
}

# site block, listens on the $PORT environment variable, automatically assigned by railway
:{$PORT} {
	root * /srv
	file_server

	@plausible path /js/script.js /api/event
	handle @plausible {
		rewrite /js/script.js /js/script.outbound-links.js
		reverse_proxy https://plausible.io {
			header_up Host {http.reverse_proxy.upstream.hostport}
		}
	}
}
